{{! internal CSS styling }}
<style>
  .grid-container { display: grid; justify-content: center; margin: 20px;
  grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(90%, 95%)); }
  .blog-card { border: 1px solid #ccc; margin:10px; padding: 10px; display:
  flex; flex-direction: column; background-color: #1b89bc; box-sizing:
  border-box; border-radius: 10px; padding: 15px; color: black; } .blog-card-nav
  { display: flex; justify-content: space-between; align-items: center;
  background-color: #f5f5f5; padding: 5px; margin-bottom: 10px; } .blog-title {
  font-weight: bold; } .marginZero {margin: 0;} button {border-radius: 5%;
  margin: 10px; background-color: #1b89bc; color: white;} .blog-content
  {min-height: 50px;} .smallerFont {font-size: 16px;} .secondary-nav {
  background-color: #eaeaea; padding: 10px; text-align: center; border-radius: 10px;}

</style>

{{#if logged_in}}
  <nav class='secondary-nav'>
    <h5>{{userName}}'s Home</h5>
  </nav>
{{else}}
  <nav class='secondary-nav'>
    <h5> Home</h5>
  </nav>
{{/if}}

<div class='grid-container'>

  {{! extract blogs from model }}
  {{#each blogs}}
    <div class='blog-card'>
      <div class='blog-card-nav'>
        <h4 class='blog-title'> <a href='/blogs/{{id}}'>{{title}}</a></h4>
        <p class='marginZero smallerFont'>
          Posted by:
          <strong>{{user.name}}</strong>
          on
          {{date_created}}
        </p>
      </div>

      <p class='blog-content'>{{content}}</p>

    </div>
  {{/each}}

</div>

{{! corresponding js script }}
<script src='./js/blog.js'></script>